/* css of body,header,footer */
body{
margin: 0px;
font-family: Josefin Sans;
/*background-image: url(grey.png);*/
/*background-repeat:repeat;*/
/*background-attachment:fixed*/
}

#header{
/*padding: 0px 10px 10px 20px;*/
/*overflow: hidden;*/
width:100%;
height:120px;
/*margin: auto;*/
margin-top: -120px;
background-color:white;
position:fixed;
border-bottom-color:rgba(0, 0, 0, 0.0980392);
border-bottom-style:solid;
border-bottom-width:1.5px;
}


.logo img {      
float:left;
margin:0px 20px 0px 20px;
}

.logo p{
font-size: 30px;
font-family: fantasy;    
color:white;
/*margin: 30px 0px 0px 0px;*/
}

.bg-link{
/*width:100%;*/
height:100%;
/*background-color:white;*/
float:left;
border-radius:10px;
margin-top: 66px;
padding-left:25px;  
}

.sociallogo{
/*width:100%;*/
/*height:100%;*/
float:right;
margin:-80px 20px 0px 0px;
}

/*.sociallogo p{
font-size: 16px;
font-family:Georgia;
color:white;
padding-left:30px;
line-height:30px;    
}*/

/*.sociallogogroup{
margin-left: 20px;
}*/

.sociallogo a{
opacity:1;

}

.sociallogo a:hover{
opacity:0.8;

}

#header li{
font-size: 16px;
font-family:HelveticaNeueLTPro-LtCn;    
display: inline; 
padding: 20px;
}

#header li a{
color: black;
text-decoration: none;
transition:all 0.25s ease-out;
opacity: 0.9;
}

#header ul{    
list-style: none;
float:left;
padding:5px 5px 0px 20px;
margin-left: -20px;
margin-top: 8px;
}

#header li a.selected{
color: #77933c;
font-weight: bold;
}

#header li a:hover{
/*padding-bottom: 3px;*/
color: #77933c;
}


#foot{
padding: 5px 0px 0px 0px;
font-size: 14px;
font-weight:100;
width:100%; 
text-align: center;
margin-top:-3px;
color:white;
background-image: url(../static/grey.png);
height:100px;
/*position:fixed;*/
/*border-top: 3px solid #77933c;*/
}

#bar-inner {
    width: 960px;
    margin: 0 auto;
    height: 100px;
}

#bar-inner a{
position: fixed; 
bottom:10px;
right:10px;
}

/* css of index */
/*#background-about{*/
/*width:100%;*/
/*min-height:4750px;*/
/*padding: 10px;*/
/*background-color:white;
/*margin: auto;*/
/*}*/

#slide{
margin-top: 120px;
width:100%;
/*height:100%;*/
/*min-height:500px;*/
}

#slide img{
position: relative;
width:100%;
opacity: 0.5;
/*margin-top: -350px;*/
}

#slide span{
position: absolute;
top:250px;
left:30%;
text-align: center;
font-size: 18px;
width:500px;
height:150px;
margin:0 auto;
/*color: white; */
/*font: bold 24px/45px Helvetica, Sans-Serif; */
/*letter-spacing: -1px;  */
/*background: white;  fallback color */
background: rgba(248, 248, 255, 0.85);
padding: 10px; 
}
/*#description{
width: 500px;
height: 70px;
/*padding: 10px;*/
/*

margin-top: -350px;
margin-left: 400px;
z-index: 10;*/
/*}*/

.profile{
width:100%;
min-height:500px;
border-top-color:rgba(0, 0, 0, 0.0980392);
border-top-style:solid;
border-top-width:1px;
}

.product{
width:100%;
min-height:500px;
border-top-color:rgba(0, 0, 0, 0.0980392);
border-top-style:solid;
border-top-width:1px;
}

.anchor{
  display: block;
  height: 120px;
  margin-top: 120px; /*same height as header*/
  visibility: hidden;
}
/*#contact{
width:100%;
min-height:500px;
}*/

.back-slider{
background-color:rgba(80, 133, 30, 0.6);
margin: 20px 0px 0px 900px;
width:380px;
height:1900px;
float:right;
border-radius:10px;
position:absolute;  
}

#description{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 20px;
width: 400px;
height:350px;
/*margin:5px 0px 0px -50px;*/
float: left;
line-height:30px;
}

#description a{
opacity:0.6;
text-decoration: none;
}

#description a:hover{
opacity:1;
}



/*#contact{
font-family:Times;
color:white;
width:350px;
height:290px;
float:left;
margin:0px 0px 30px 15px;
border-bottom: 3px solid white;
border-style: none none dotted none;

}*/

#contact ul{  
list-style: none;
}


#contactphone{
margin-top:20px;
margin-left:-20px;
}

#contactemail{
margin-top:-15px;
margin-left:-20px;
}

#contactAddress{
margin-top:-15px;
margin-left:-20px;
}

#contact span.contacttext{
margin-left:5px;
vertical-align:30px;
}

#contact span.contacttext1{
margin-left:5px;
vertical-align:38px;
}

p.contacttext2{
margin:-30px 0px 0px 75px;
}

#contactForm {
float: left;
}

.recentwork{
margin:0px 0px 0px 10px;
width: 360px;
height:250px;
border-bottom: 3px solid white;
border-style: none none dotted none;
}

/* 
.recentwork img{
padding-left:10px;
}
 */

.recentwork a{
opacity:1;
}

.recentwork a:hover{
opacity:0.8;
}

.recentwork_title{   
font-size: 17px;
font-family:Georgia;
color:white;
margin-left: 10px;
margin-bottom: 20px;
}

.recentwork_title img.middle{
vertical-align:middle;
}

.recentwork_description{
float:right;
font-size: 17px;
font-family:Georgia;
color:white;
line-height:30px;
margin-right: 15px;
}

.projectcompleted_title{
font-size: 17px;
font-family:Georgia;
color:white;
margin-left: 20px;
margin-top: 20px;
margin-bottom: -10px;
}

.projectcompleted_title img.middle{
vertical-align:middle;
}

.contact_title{
font-size: 17px;
font-family:Georgia;
color:white;
margin-left: 5px;
margin-top: 20px;
margin-bottom: -10px;
}

.contact_title img.middle{
vertical-align:middle;
}

.download_title{
font-size: 17px;
font-family:Georgia;
color:white;
margin-bottom: -5px;
margin-left: 5px;
margin-top: 20px;
}

.download_title img.middle{
vertical-align:middle;
}

.recommend_title{
font-size: 17px;
font-family:Georgia;
color:white;
margin-left: 5px;
margin-top: 20px;
}

.recommend_title img.middle{
vertical-align:middle;
}

.wordcloud_title{
font-size: 17px;
font-family:Georgia;
color:white;
margin-left: 5px;
margin-top: -10px;
}

.wordcloud_title img.middle{
vertical-align:middle;
}

#download{
float: left;
width: 360px;
height:270px;
margin:0px 0px 0px 10px;
border-top: 3px solid white;
border-style:dotted none none none;
}

#recommend{
float: left;
width: 360px;
height:550px;
margin:0px 0px 0px 10px;
border-top: 3px solid white;
border-style:dotted none none none;
}

.recommendcontent{
font-family:Times;
color: white;
width:295px;
margin:-25px 20px 0px 45px;
font-size:17px;
}

.leftquote{
font-family:Georgia;
color: white;
margin:-10px 20px 0px 20px;
font-size:30px;
font-weight:600;
}

.rightquote{
font-size:30px;
font-family:Georgia;
color: white;
margin:-18px 30px 0px 325px;
font-weight:600;
}

.recommendpeople{
color: #606060;
font-family:Times;
margin-left:30px;
font-size:17px;
}

#wordcloud{
float: left;
width: 360px;
height:500px;
margin:0px 0px 0px 10px;
padding-top:30px;
border-top: 3px solid white;
border-style:dotted none none none;
}


#wordcloud img{
border-radius:5px;
margin-left:5px;
}

#download a{
opacity:1; 
} 

#download a:hover {
opacity:1;
font-weight:600;
}

#resume{
margin:10px 0px 0px 30px;
border-bottom: 1px solid rgb(80, 133, 30);
border-style:none none dashed none;
width: 270px;
height:50px;
padding:20px 0px 0px 10px;
float:left;
}

#resume p, #coverletter p, #transcript p{
color: #606060;
font-family:Georgia;
}

#coverletter{
margin:10px 0px 10px 30px;
border-bottom: 1px solid rgb(80, 133, 30);
border-style:none none dashed none;
width: 270px;
height:50px;
padding-left:10px;
float:left;
}

#transcript{
margin:0px 0px 20px 30px;
width: 270px;
height:40px;
padding-left:10px;
float:left;
}

.h3title3{
font-family:HelveticaNeueLTPro-LtCn;
font-weight:100;
color:#F7931E;
font-size:23px;
height:40px;
margin:20px 0px 5px 20px;
}

.back3{
/*margin: 20px 0px 15px 20px;*/
/*width:850px;*/
height:330px;
background-color:rgba(80, 133, 30, 0.1);
float:left;
border-radius:10px; 
}

.back4{
margin: 20px 0px 15px 20px;
width:850px;
height:2300px;
background-color:rgba(80, 133, 30, 0.1);
float:left;
border-radius:10px;  
}

.back-statement{
margin: 20px 0px 15px 20px;
width:850px;
height:auto;
background-color:rgba(80, 133, 30, 0.1);
float:left;
border-radius:10px;  
}

.comment {
	width: 630px;
	margin: 15px 0px 50px 0px;
}
a.morelink {
	text-decoration:none;
	outline: none;
	color: #0254EB;
	font-size: 17px;
}
.morecontent span {
	display: none;
}

.back5{
margin: 20px 0px 15px 20px;
width:850px;
height:690px;
background-color:rgba(80, 133, 30, 0.1);
float:left;
border-radius:10px;  
}

.tit1{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 21px;
width: 120px;
height:250px;
margin:23px 0px 0px 20px;
float: left;
}

.tit2{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 21px;
width: 120px;
height:1700px;
margin:23px 0px 0px 20px;
float: left;
}

.tit3{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 21px;
width: 130px;
height:500px;
margin:23px 0px 0px 20px;
float: left;
line-height:150%;
}

.tit4{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 21px;
width: 130px;
height:200px;
margin:23px 0px 0px 20px;
float: left;
line-height:150%;
}

.itemgroup1{
width: 820px;
height:1000px;
}

.itemgroup2{
width: 820px;
height:650px;
}

.item1{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 18px;
width: 310px;
height:410px;
margin:30px 10px 0px 10px;
float: left;
}

.back-statement .item1{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 18px;
width: 650px;
height:auto;
margin:28px 10px 0px 0px;
float: left;
}

.item1 img, .item2 img, .item3 img{
float:right;
}

.item1 p.item-tit{
color: rgb(80, 133, 30);
border-bottom: 1px solid rgb(80, 133, 30);
}

.item2{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 18px;
width: 310px;
height:410px;
margin:30px 10px 0px 20px;
float: left;
}

.item2 p.item-tit{
color: #8b6b77;
border-bottom: 1px solid  #8b6b77;
}

.item3{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 18px;
width: 250px;
height:450px;
margin:30px 0px 0px 20px;
float: left;
}

.item3 p.item-tit{
color: #4d646e;
border-bottom: 1px solid #4d646e;
}

p.item-tit2{
margin-top:-10px;
}

p.time{
color:#A8BFAE;
font-size: 17px;
font-style:italic;
font-weight:600;
}

p.item-text{
font-size: 17px;
}

.back5 .item1{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 18px;
width: 310px;
height:250px;
margin:30px 10px 0px 0px;
float: left;
}

.back5 .item2{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 18px;
width: 310px;
height:250px;
margin:30px 10px 0px 20px;
float: left;
}

.back5 .item3{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 18px;
width: 310px;
height:250px;
margin:30px 0px 0px 20px;
float: left;
}

.back5 .item1 p{
line-height:16px;
}

.back5 .item2 p{
line-height:16px;
}

.back5 .item3 p{
line-height:16px;
}

.timelinegroup{
width:200px;
}

.timeline{
margin-left:20px;
vertical-align:5px;
color:rgba(80, 133, 30, 0.8);
}


/* css of project */
#background{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:1900px;
margin:0px auto; 
}

#picture{
margin:0px auto;
padding-left:50px;
width:1200px; 
height:100%;
position:absolute;
clear:both;
}

.pic{
float:left;
overflow:hidden;
position:relative;
margin:0px auto;
padding: 20px 0px 15px 75px;
width:310px; 
height:280px;

}

.pic img{
border-radius:5px; 
width:260px;
height:180px;
overflow:hidden; 
box-shadow: 0px 8px 11px #CCCCCC;
opacity:0.8; 
 } 

.pic img:hover {
opacity:1; 
}

.h3title{
font-family:HelveticaNeueLTPro-LtCn;
font-weight:100;
color:#F7931E;
font-size:23px;
height:40px;
margin:20px 0px 5px 0px;
float:left;
}

.h3title2{
font-family:HelveticaNeueLTPro-LtCn;
font-weight:100;
color:#F7931E;
font-size:23px; 
height:40px;
margin:50px 0px 5px 0px;
float:left;
}

.back{
width:1200px;
height:940px;
background-color:rgba(80, 133, 30, 0.1);
float:left;
border-radius:10px;  
}

.back2{
width:1200px;
height:330px;
background-color:rgba(80, 133, 30, 0.1);
float:left;
border-radius:10px;  
}

.pictitle{
font-size:18px; 
color:#F7931E;
}

.picintro{
font-size:15px;
color: #333333;
margin-top:-10px;
}


/* css of course */
#background1{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:600px;
margin:0px auto; 
}

/* 
#background1 .title{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 20px;
color:rgb(80, 133, 30);
margin-left:20px;  
}
 */

#background1 .item-text{
margin-left:70px;
margin-right:20px;
font-family: HelveticaNeueLTPro-LtCn;
font-size: 17px;  
}

#background1 a{
text-decoration:none;
color:black;  
}

#background1 a:hover{
text-decoration:underline; 
opacity:0.8; 
}

#background_course{
background-color:rgba(80, 133, 30, 0.1);
border-radius:10px;
width:1200px;
height:100%;
min-height:540px;
margin:0px auto; 
margin-top:30px;
}

.back6{
margin: 20px 0px 15px 50px;
width:1100px;
height:350px;
background-color:rgba(80, 133, 30, 0.1);
float:left;
border-radius:10px;  
}

.text1 {
margin: 40px 40px 20px 100px;
width: 500px;
height:230px;
float:left;

}

.text2 {
margin: 40px 0px 20px 10px;
width: 500px;
height:230px;
float:left;
/* background-color:rgba(80, 133, 30, 0.1); */
border-radius:10px;
}

.text3 {
margin: 70px 40px 20px 100px;
width: 500px;
height:150px;
float:left;
/* background-color:rgba(80, 133, 30, 0.1); */
border-radius:10px;
}

.text4 {
margin: -65px 0px 20px 10px;
width: 500px;
height:150px;
float:left;
/* background-color:rgba(80, 133, 30, 0.1); */
border-radius:10px;
}

.text1 .title, .text2 .title{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 20px;
color:rgb(80, 133, 30);
margin-left:20px; 
}

.text3 .title, .text4 .title{
color: #8b6b77;
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 20px;
margin-left:20px; 
}

#left{
width:150px;
float:left;
margin-top:3px;
}

#right{
width:150px;
float:left;
margin-left:30px;
}

#right input{
margin-left:55px;
margin-top:-10px;
width:100px;
font-size: 16px;
font-family: HelveticaNeueLTPro-LtCn;
border-radius:5px;
box-shadow: 5px 5px 5px #CCCCCC;
background-color: rgba(80, 133, 30, 0.3);
}

#left input{ 
font-size: 16px;
font-family: HelveticaNeueLTPro-LtCn;
border-radius:5px; 
border:none;
box-shadow: 5px 8px 11px #CCCCCC;
}

.contacttitle{
font-size: 18px;
font-family: HelveticaNeueLTPro-LtCn;
}

#contactForm textarea {
font-size: 16px;
font-family: HelveticaNeueLTPro-LtCn;
border-radius:5px; 
border:none;
box-shadow: 0px 8px 11px #CCCCCC;
}

#contactForm span.input input {
margin-bottom: 30px;
width:150px;
height: 30px;

}

#contactForm textarea {
margin-bottom: 30px;
width:150px;
height: 170px;
}
						
.social{
font-family:Times;
width:50px;
height:300px;
float:left;
margin-top:35px;
}

.social ul{  
list-style: none;
}

.social ul{
margin: 30px 0px 10px 20px;
}

.social li{
margin: 0px 0px 20px 20px;
}

.social img {
opacity: 0.8;
}

.social img:hover {
opacity: 1;
}


/* css of projects page */
#background2{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:2600px;
margin:0px auto; 
}

#background3{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:3650px;
margin:0px auto; 
}

#background4{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:2100px;
margin:0px auto; 
}

#background5{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:5250px;
margin:0px auto; 
}

#background6{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:1200px;
margin:0px auto; 
}

#background7{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:2300px;
margin:0px auto; 
}

#background8{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:2700px;
margin:0px auto; 
}

#background9{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:500px;
margin:auto; 
}

#background-jstor{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:4100px;
margin:0px auto; 
}

#background-649{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:3600px;
margin:0px auto; 
}

#background-650{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:3000px;
margin:0px auto; 
}

#background-ross{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:2000px;
margin:0px auto; 
}

#background-582{
background-color:white;
padding: 10px;
width:1300px;
height:100%;
min-height:5200px;
margin:0px auto; 
}

#background2 .back, #background3 .back, #background4 .back, #background5 .back, #background6 .back, #background7 .back, #background8 .back, #background-649 .back, #background-582 .back, #background-650 .back{
margin: 30px 0px 15px 50px;
width:800px;
height:100%;
background-color:rgba(80, 133, 30, 0.1);
float:left;
border-radius:10px;
padding-bottom:20px;  
}

#background-jstor .back, #background-ross .back{
margin: 0px 0px 15px 50px;
width:800px;
height:100%;
background-color:rgba(80, 133, 30, 0.1);
float:left;
border-radius:10px;
padding-bottom:20px;  
}

#background2 a,#background3 a,#background4 a,#background5 a,#background6 a,#background7 a,#background8 a,#background-649 a,#background-582 a,#background-650 a,#background-ross a,#background-jstor .back8 a,#background-jstor .back9 a{
text-decoration:none;
float:left;
margin-left:30px;
color:#F7931E;
}

#background2 a:hover,#background3 a:hover,#background4 a:hover,#background5 a:hover,#background6 a:hover,#background7 a:hover,#background8 a:hover,#background-649 a:hover,#background-582 a:hover,#background-650 a:hover,#background-ross a:hover,#background-jstor .back8 a:hover,#background-jstor .back9 a:hover{
text-decoration:underline;
float:left;
margin-left:30px;
color:#F7933E;
}

#background-jstor .back a{
text-decoration:none;
color:#F7931E;
}

#background-jstor .back a:hover{
text-decoration:underline;
color:#F7933E;
}

#background2 .time, #background3 .time, #background4 .time, #background5 .time, #background6 .time, #background7 .time, #background8 .time, #background-jstor .time, #background-649 .time, #background-582 .time, #background-650 .time, #background-ross .time{
margin-left:30px;
font-style:normal;
}

#background2 h4,#background3 h4,#background4 h4,#background5 h4,#background6 h4,#background7 h4,#background8 h4,#background-jstor h4,#background-649 h4,#background-582 h4,#background-650 h4,#background-ross h4{
margin-left:80px;
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 22px;
margin-top:-12px;
}

#background2 .back .title, #background3 .back .title, #background4 .back .title, #background5 .back .title, #background6 .back .title, #background7 .back .title, #background8 .back .title, #background-jstor .back .title, #background-649 .back .title, #background-582 .back .title, #background-650 .back .title, #background-ross .back .title{
font-family: HelveticaNeueLTPro-LtCn;
font-weight:100;
font-size: 20px;
color:rgb(80, 133, 30);
margin-left:20px;  
}

#background2 .back .item-text, #background3 .back .item-text, #background4 .back .item-text, #background5 .back .item-text, #background6 .back .item-text, #background7 .back .item-text, #background8 .back .item-text, #background-jstor .back .item-text, #background-649 .back .item-text, #background-582 .back .item-text, #background-650 .back .item-text, #background-ross .back .item-text{
margin-left:40px;
margin-right:20px;
font-family: HelveticaNeueLTPro-LtCn;
font-size: 17px;
}

#background5 .back .item-text a{
color:black;
float:none;
margin-left:0px;
text-decoration:none;
}

#background5 .back .item-text a:hover{
color:black;
float:none;
margin-left:0px;
text-decoration:underline;
}

#background8 .back .item-text a{
color:black;
float:none;
margin-left:0px;
text-decoration:none;
}

#background8 .back .item-text a:hover{
color:black;
float:none;
margin-left:0px;
text-decoration:underline;
}

#background2 .back img, #background3 .back img, #background4 .back img, #background5 .back img, #background6 .back img, #background7 .back img, #background8 .back img, #background-jstor .back img, #background-649 .back img, #background-582 .back img, #background-650 .back img, #background-ross .back img{
text-align:center;
margin-left: 30px;
border-radius:5px; 
box-shadow: 0px 8px 11px #CCCCCC;
display: block;
margin: 0 auto;
}

#background2 .back .pic-text, #background3 .back .pic-text, #background4 .back .pic-text, #background5 .back .pic-text, #background6 .back .pic-text, #background7 .back .pic-text, #background8 .back .pic-text, #background-jstor .back .pic-text, #background-649 .back .pic-text, #background-582 .back .pic-text, #background-650 .back .pic-text, #background-ross .back .pic-text{
text-align:center;
opacity:0.5;
}

#background2 .back iframe, #background3 .back iframe, #background4 .back iframe, #background5 .back iframe, #background6 .back iframe, #background7 .back iframe, #background8 .back iframe, #background-jstor .back iframe, #background-649 .back iframe, #background-582 .back iframe, #background-650 .back iframe, #background-ross .back iframe{
display: block;
margin: 0 auto;
}

.back8{
margin: -150px 20px 15px 0px;
width:300px;
height:60px;
background-color:rgba(80, 133, 30, 0.1);
float:right;
border-radius:10px;  
}

.back8 .button-left{
float:left;
width:75px;
height:25px;
border-radius:5px; 
margin-top:18px;
margin-left:-12px;
opacity:0.8;
}

.back8 .first-button-left{
float:left;
width:75px;
height:25px;
border-radius:5px; 
margin-top:18px;
margin-left:18px;
opacity:0.3;
}

.back8 .last-button-right{
float:left;
width:75px;
height:25px;
border-radius:5px; 
margin-top:18px;
margin-left:18px;
opacity:0.3;
}

.back8 .button-left:hover{
opacity:1;
}

.back8 .button-right{
float:left;
width:75px;
height:25px;
border-radius:5px; 
background-color:#F7931E;
color:white;
text-align:center;
margin-top:18px;
margin-left:-10px;
opacity:0.8;
}

.back8 .button-right:hover{
opacity:1;
}

.back8 span.navi{
float:left;
padding-left:20px;
padding-top:15px; 
line-height:32px; 
color:#bfbfc8

}

.back9{
margin: -70px 20px 15px 0px;
width:300px;
height:800px;
float:right;
 
}

.back9 h3{
border-bottom: 2px solid #FFA000;
font-size:16px;
padding-bottom:5px;
color:#FFA000;
font-weight:100;
}

.back9 h3.bottom{
border-bottom: 2px solid #FFA000;
font-size:16px;
padding-bottom:5px;
color:#FFA000;
font-weight:100;
padding-top:30px;
}


.back9 img{
width:65px;
height:45px;
float:left; 
margin-left:-20px;
margin-top:8px;
border-radius:5px;
box-shadow: 0px 4px 5px #CCCCCC; 
}

.back9 .pictitle{
width:200px;
font-size:13px;
float:left; 
margin-left:10px;
margin-top: 16px;
color:black;
}

.pro{
width:300px;
height:60px;
margin-top:10px;
}

.selectedpro{
width:300px;
height:60px;
background-color:#f6c999;
border-radius:5px;
margin-top:10px;
}

.pro:hover{
background-color:#f6c995;
border-radius:5px; 
}
